update $request.entityDescriptor.table
set 
#foreach( $descriptor in $request.entityDescriptor.simpleFields )
	$dao.writeValuePair($request, "$descriptor.column") #if( $foreach.hasNext ),#end
#end

where 
$dao.writeValuePair($request, "$pk")